gym==0.26.2
stable-baselines3[extra]==2.0.0
sb3-contrib==2.0.0
sphinx-autodoc-typehints==1.23.0
box2d-py==2.3.8
pybullet
optuna~=3.0
pytablewriter~=0.64
pyyaml>=5.1
cloudpickle>=1.5.0
plotly
rliable==1.2.0
wandb
huggingface_sb3>=2.2.5
seaborn
tqdm
rich
moviepy
ruff
inflection
ipykernel
ipywidgets
jupyter